[Unit]
Description=Reset the Rancher turnkey system
ConditionPathExists=/boot/reset-turnkey
Before=rc-local.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/var/lib/rancher/turnkey/reset_turnkey.sh

[Install]
WantedBy=multi-user.target