[Unit]
Description=Reset the Rancher turnkey system
ConditionPathExists=/boot/reset-turnkey

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/home/pi/rancher-turnkey/reset_turnkey.sh

[Install]
WantedBy=multi-user.target